<ion-header>
  <ion-toolbar>
    <ion-title>
      ecodermis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="intro" class="ion-padding">

    <p>
      toque la cámara si acepta tomarse una fotografia de su piel.
    </p>
    <ion-fab *ngIf="intro" vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div *ngIf="showImage">

    <img [src]="currentImage">
    <p>¿desea compartir su imagen?</p>

    <section class="full-width">
      <ion-button (click)="publishPicture(true)" expand="full" color="secondary">SI</ion-button>
      <ion-button (click)="publishPicture(false)" expand="full" color="secondary">NO</ion-button>
    </section>
  </div>

  <div *ngIf="thanks">
    <p>Muchas gracias por participar</p>
  </div>




</ion-content>